POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=<yuor-db-name>
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your-user-password>

SECRET=<your-secret-key>
ACCESS_LIFETIME_SECONDS = 3600 # Время существования access-токенов
REFRESH_LIFETIME_SECONDS = 2592000 # Время существования refresh-токенов

SUPER_USER_EMAIL=<superuser-email>
SUPER_USER_PASSWORD=<superuser-password>